@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: black;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.logo img {
  width: 180px;
  height: auto;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 111;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

/*Junbotron*/

.jumbotron {
  width: 100%;
  height: 700px;
  padding: 100px;
  background: #006582;
}

.subjudul{
  font-family: 'Poppins', sans-serif;
  color: black;
  margin-bottom: 20px;
}

.item {
  width: 80%;
  height: 80px;
  padding:  10px 10px 10px 0px;
  box-sizing: border-box;
  margin-top: 30px;


}
.item a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px 10px 20px;
  background: linear-gradient(#e9917f , #998433 );
  width: 30px;
  height: 10px;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 30px;

}

.item img {
  width: 20px;
  margin-right: 10px;
}


/*jumbotron 1*/



.jumbotron1 {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;

}

.b1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.b1 img{
  width: 100%;
}

.b2{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  min-height: 100%;
}



/*jumbotron 2*/


.jumbotron2{
  background: #01dafe;
  width: 100%;
  display: flex;
  color: black;
}

.c1{
  width: 50%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c1 a{
  text-decoration: none;
  color:  #2323b5;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px 10px 20px;
  background-color:  white;
  width: 30px;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 30px;

}

.c2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.c2 img {
  width: 100%;
}




/*Jumbotron 3*/

.jumbotron3{
  background: #494648;
  width: 100%;
  display: flex;
}

.d1 {
  width: 50%;
  display: flex;
}

.d2{
  padding: 100px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center ;
  color: black;
}



/*jumbotron 4*/

.jumbotron4{
  background-color: black;
  width: 100%;
  display: flex;
}

.e1{
  width: 50%;
  padding:  50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.e1 a{
  text-decoration: none;
  color:  #2323b5;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px 10px 20px;
  background-color:  white;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 30px;

}

.e2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


/*jumbotron 5*/

.jumbotron5{
  background-color: white;  
  width: 100%;
  display: flex;
}






.jumbotron6{
  background-color: black;
  width: 100%;
  display: flex;
}

.g1{
  width: 50%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}


.g1 a{
  text-decoration: none;
  color:  black;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px 10px 20px;
  background-color:  white;
  width: 30px;
  height: 10px;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 30px;

}

.g2 {
  width: 50%;
  display: flex;
  padding-left: 150px;
  align-items: flex-end;
}

.g2 img {
  filter: brightness(0.8);
}


/*FLOAT*/

.copyright {
  background-color: black;
  width: 100%;
  height: 80px;
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-around;
}

.copyright p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: white;
  margin-top: 15px;
  margin-top: 25px;
  
}

.copyright .ikon{
  color: white;
  display: flex;
  width: 80px;
  justify-content: space-between;
  
}

.ikon img {
  width: 30px;

}

/*FLOAT*/




/*Media Query*/

/* ukuran mobile */

@media screen and (max-width: 576px) {

  /*Jumbotron atas*/


  .jumbotron{
    padding: 50px;
    height: 500px;
  }

  .item{
    width: 110%;



  }

  .item img{
    margin-top: 20px;
  }



  /*jumbotron 1*/

  .jumbotron1{
    flex-direction: column;
    align-items: center;
  }

  .b1{
    width: 93%;
    height: 60%;


  }

  .b1 img{
    width: 90%;

  }

  .b2{
    width: 100%;
    height: 40%;
  }

  /*jumbotron 2*/

  .jumbotron2 {
    flex-direction: column;
    align-items: center;
  }

  .c1{
    width: 100%;
    height: 50%;
  }

  .c2{
    width: 100%;
    height: 50%;
  }

  /*jumbotron 3*/

  .jumbotron3{
    flex-direction: column;
    align-items: center;
  }

  .d1{
    width: 100%;
    height: 50%;
  }

  .d2{
    width: 100%;
    height: 60%;
  }

  /*jumbotron 4*/

  .jumbotron4{
    flex-direction: column;
    align-items: center;
  }

  .e1{
    width: 100%;
    height: 50%;
  }

  .e2{
    width: 100%;
    height: 50%;
  }

  .jumbotron5{
    flex-direction: column-reverse;
    align-items: center;
  }

  /*jumbotron 6*/

  .jumbotron6{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .g1{
    width: 100%;
    height: 50%;
  }
  .g2{
    width: 100%;
    height: 50%;
  }

  /*copyright*/
  .copyright .ikon{
  width: 50px;
  
}

.ikon img {
  width: 20px;

}
} 



